{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

<section >

<h1>Mon compte</h1>

<form action="">

<label for="">Adresse E-mail</label><input type="email" value="{{ app.user.email}}" disabled>
<label for="">Mot de passe</label><input disabled type="password" value="{{ app.user.password}}">
<label for="">Adresse</label><input disabled type="text" value="{{ app.user.adresse}}">
<label for="">Code Postal</label><input disabled type="number" value="{{ app.user.cp}}">
<label for="">Telephone</label><input disabled type="number" value="{{ app.user.tel}}">

<a class="btn btn-dark" href="{{ path('profil_update', {'id': app.user.id } ) }}">Modifier mon profil ✏️</a>


</form>

</section>
{% endblock %}
