{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

  {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

{% block body %}
<head>
<link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>


<div id="global" class="container p-5">

  <h1 class="text-center mb-5">Les plus vendus</h1>

  <div class="plus-vendu d-flex justify-content-center">
    <a class="btn btn-primary">Découvrir</a>
  </div>

  <h1 class="text-center my-5">Liste des Produits</h1>

  <div id="carte" class="d-flex justify-content-center flex-wrap row">
    {% for value in pagination %}
    <div class="card col-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
      <img src="{{ value.photo }}" class="card-img-top p-3 img-fluid" style="height: 15rem;" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ value.titre }}</h5>
        <p class="card-title">{{ value.prix }} €</p>
        <div class="d-flex justify-content-between">
          <a href="{{ path('post_cart', {'id' : value.id}) }}" class="btn btn-primary">Ajoutez au panier</a>
          <a href="{{ path('details_articles', {'id' : value.id}) }}"><img src="{{ asset('img/loupe.png') }}" alt=""></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="pagination mt-3 d-flex justify-content-center">
    {{ knp_pagination_render(pagination) }}
  </div>

</div>






{% endblock %}
